.body{
    margin: auto;
    min-width: 1600px;
}
.header{
    grid-row: 1;
	height: 100px;
    display: flex;
    background-color: black;
	align-items: center; 
}
.nav{
    min-width: 80%;
    grid-row: 1;
    display: flex;
}
.dva{
    grid-row: 1;
	height: 100%;
    min-width: 90%;
	display: flex;
}
.nav__list {
	display: flex;
    min-width: 50%;
	align-items: center;
	justify-content: space-between;
}
.nav__linko {
	color: white;
	text-decoration: none;
	font-weight: 700;
}
.nav__linko:hover {
	color:orange;
	text-decoration: none;
}

.nav_item{
    color:white
}
.nav__link {
	color: white;
	text-decoration: none;
	font-weight: 700;
}
.nav__link:hover {
	color:orange;
	text-decoration: none;
}
li{
    list-style-type: none;
}
.fawanimal{
    background-image: url("../../assets/images/bigpanda.png");
    background-color: #cccccc;
    background-size: 100% auto;
    width: 100%;
    height: 780px;
}
.textplusbutton{
    position: relative;
    left: 60%;
    height: 700px;
    width: 480px;
    top:20%;
}
.faworite{
    height: 400px;
    width: 480px;
    display: flex;
    position: absolute;

}
.watchbutton{
    width: 280px;
    height:60px;
    background-color: orange;
    border-radius: 30px;
    border: none;
    color: white;
    position: absolute;
    top: 65%;
    left:15%
}
.watchbutton:hover{
    width: 280px;
    height:60px;
    background-color: #E47209;
    border-radius: 30px;
    border: none;
}
.watchbutton:focus{
    background-color:#4B9200;
}
.backstage{
    width: 100%;
    height: 800px;
}
.cont
{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    /* padding: 10%; */
    left: 10%;
    top:20%
}
.backimg{
    width: 609px;
    height: 403px;
    flex: 50%;
}
.backtext{
    width: 10%;
    flex:35%
}
.frienimal{
    width: 100%;
    height: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
	justify-content: center;
}
.contanimal{
    margin: auto;
    width: 70%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
.navbut{
    width: 60px;
    margin: 10px;
    border-radius: 60px;
    height:60px;
    background-color: orange;
    border-radius: 10 px;
    border: none;
    color: white;
}
.navbut:hover{
    width: 60px;
    margin: 10px;
    border-radius: 60px;
    height:60px;
    background-color: #E47209;
    border-radius: 10 px;
    border: none;
    color: white;
}
.navbut:focus{
    background-color:#4B9200;
}
.animalitem{
    text-align: center;
    height: 400px;
    width: 333px;
    border:2px solid orange;
    border-radius: 5px;
}
.animalitem h2{
    font-size: 18px;
    line-height: 1;
}
.animalitem p{
    font-size: 14px;
    line-height: 1;
}
.feedbackground{
    width: 100%;
    height: 1000px;
    background-color: #FED290; 
}
.feed{
    width: 70%;
    height: 70%;
    background-color: #f1dec1;
    border-radius: 3%;
    position: relative;
    top: 15%;
    left: 15%;
}
.feed h1{
    color:orange;
    font-size: 3rem;
    text-align: center;
}
.feed h2{
    font-size: 1.5rem;
    text-align: left;
    margin-left: 50px;
}
.feed p{
    text-align: left;
    margin-left: 50px
}
.feed img{
    margin-left:10%;
}
.buto{
    width: 280px;
    height:60px;
    background-color: orange;
    border-radius: 30px;
    border: none;
    color: white;
}
.buto:hover{
    width: 280px;
    height:60px;
    background-color: #E47209;
    border-radius: 30px;
    border: none;
}
.buto:focus{
    background-color: #4B9200;
}
.feed .buto{
    margin-top: 5%;
    margin-left: 37%;
}
.testimonialsback{
    width: 100%;
    height: 840px;


}
.testimonials{
    width: 70%;
    height: 70%;
    position: relative;
    top: 15%;
    left: 15%;
}
.testimonials h1{
    text-align: center;
    line-height: 100px;
}
.testimonials img{
    line-height: 2;
    width: 100%;
    margin: auto;
}

.ranger{
    width: 40%;
    position: relative;
    color:orange;
    top:5%;
    left: 30%;
}
.testimonials .buto{
    position: relative;
    top:15%;
    left:-40%;
    border-radius: 5%;
}
.footer{
    width:100%;
    height: 400px;
    background-color: black;
}
.firstpart{
    width: 25%;
    height: 400px;
}

.refo{
    position: relative;
    top:5%
}
.firstpart .buto{
    position: relative;
    top:15%;
    border-radius: 5%;
}
.socials{
    position:relative;
    top:40%;
}

.secondpart{
    width: 25%;
    height: 400px;
}
.footcontain{
    display: flex;
    width: 80%;
    margin: auto;
}
.secondpart .nav{
    position: relative;
    top:80%;
    min-width: 100%;
}

.secondpart .nav__list {
	display: flex;
    min-width: 100%;
	align-items: center;
	justify-content: space-between;
}
a{
    font-family:Arial, Helvetica, sans-serif
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}